---

- name: Prerequisites
  apt: name=python-mysqldb cache_valid_time=3600 state=present
  become: yes

- name: Add apt-key
  apt_key: keyserver=pgp.mit.edu id=5072E1F5
  become: yes

- name: Add repository
  apt_repository:
    repo: "deb http://repo.mysql.com/apt/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} mysql-5.7"
    state: present
    update_cache: yes
  become: yes

- name: Install MySQL
  apt: name=mysql-server state=present
  become: yes

- name: Install libmysqlclient-dev
  apt: name=libmysqlclient-dev state=present
  become: yes

- name: Create admin user
  mysql_user: name="{{ mysql_user }}" password="{{ mysql_password }}" host="%" priv="*.*:ALL,GRANT" login_user=root state=present
  become: yes

- name: Add custom.cnf
  template: src=custom.cnf.j2 dest=/etc/mysql/conf.d/custom.cnf mode=0644
  notify: restart_mysql
  become: yes

- name: check for mysqld.cnf
  stat:
    path: /etc/mysql/mysql.conf.d/mysqld.cnf
  register: mysqld_cnf

- name: disable stuff in mysqld.conf
  lineinfile:
    dest: /etc/mysql/mysql.conf.d/mysqld.cnf
    regexp: "^(\\s*{{ item }}\\s*=.*)$"
    state: absent
  with_items:
    - bind-address
    - datadir
  become: yes
  when: mysqld_cnf.stat.exists == True
  notify: restart_mysql

- name: check if datadir exists
  stat:
    path: "{{ mysql_datadir }}"
  register: my_datadir

- name: stop mysql for datadir move
  service: name=mysql state=stopped
  become: yes
  when: my_datadir.stat.exists == False

- name: optionally move datadir
  command: cp -ar /var/lib/mysql {{ mysql_datadir }}
  become: yes
  when: my_datadir.stat.exists == False
  notify: restart_mysql
