---

- name: restart_mysql
  action: service name=mysql state=restarted
  become: yes

- name: restart_munin_node
  action: service name=munin-node state=restarted
  become: yes

- name: restart_fail2ban
  action: service name=fail2ban state=restarted
  become: yes