[mysqld]
skip_name_resolve = ON
max_connections = {{ mysql_max_connections }}
table_open_cache = 2048
datadir = {{ mysql_datadir }}
log_error_verbosity = {{ mysql_log_error_verbosity }}
slow_query_log = 1
log_output = FILE
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 4
bind-address = {{ mysql_bind_address }}
max_allowed_packet = 64M
require_secure_transport = {{ mysql_require_secure_transport }}

#
# * InnoDB
#
default_storage_engine = InnoDB
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 200
innodb_io_capacity_max = 400
innodb_lru_scan_depth = 200
innodb_flush_neighbors = 0
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0
innodb_thread_concurrency = 8
innodb_large_prefix = 1
innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout }}

#
# * Character sets
#
character-set-server = {{ mysql_charset }}
collation-server = {{ mysql_collation }}
character_set_server = {{ mysql_charset }}
collation_server = {{ mysql_collation }}

[client]
default-character-set = {{ mysql_charset }}
