[mysqld]
{% if mysql_disable_log_bin | default(false) | bool %}
disable_log_bin
{% endif %}
skip_name_resolve = ON
max_connections = {{ mysql_max_connections }}
table_open_cache = {{ mysql_table_open_cache | default('4096') }}
log_error_verbosity = {{ mysql_log_error_verbosity }}
slow_query_log = 1
log_output = FILE
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 4
bind_address = {{ mysql_bind_address }}
{% if mysql_version is version('8.0', '>=') %}
{% if mysqlx_disable %}
mysqlx = OFF
{% else %}
mysqlx = ON
{% endif %}
mysqlx_bind_address = {{ mysqlx_bind_address }}
admin_tls_version = TLSv1.3
{% endif %}
tls_version = TLSv1.3
require_secure_transport = {{ mysql_require_secure_transport }}
max_allowed_packet = 64M
lower_case_table_names =  {{ mysql_lower_case_table_names | default(1) | int }}

{% if mysql_wait_timeout is defined %}
wait_timeout = {{ mysql_wait_timeout }}
interactive_timeout = {{ mysql_wait_timeout }}
{% endif %}

#
# * Buffers
#
join_buffer_size = {{ mysql_join_buffer_size | default('512K') }}
sort_buffer_size = {{ mysql_sort_buffer_size | default('512K') }}
tmp_table_size = {{ mysql_tmp_table_size | default('32M') }}
max_heap_table_size = {{ mysql_max_heap_table_size | default('32M') }}

#
# * InnoDB
#
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
{% if mysql_version is version('8.0', '<') %}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_flush_neighbors = 0
innodb_thread_concurrency = 8
innodb_large_prefix = 1
{% else %}
innodb_redo_log_capacity = {{ mysql_innodb_redo_log_capacity | default('256M') }}
{% endif %}
{% if mysql_innodb_lock_wait_timeout is defined %}
innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout }}
{% endif %}
# fulltext optimizations
innodb_ft_total_cache_size = {{ mysql_innodb_ft_total_cache_size | default('640000000') }}
innodb_ft_cache_size = {{ mysql_innodb_ft_cache_size | default('8000000') }}

#
# * Character sets
#
character_set_server = {{ mysql_charset }}
collation_server = {{ mysql_collation }}

[client]
default_character_set = {{ mysql_charset }}
